<div class="applicationpage" style="background-image: url('static/images/skybackground.jpg'); background-size: 100% 130%">
    <h3>&nbsp;Welcome back{{comma}}{{user.username}}!</h3>
    <div>
        <a href=""><span class="navtabs">Search</span></a>
        <a href="#/individuals/new"><span class="navtabs">New</span></a>
    </div>
    <div class="content bg-white">
        <h1>Search Individuals</h1>
        <input type="text" name="search" ng-model="searchText" placeholder="Search individual...">
        <hr>
        <table>
            <tr >
                <th>Name</th>
                <th>Gender</th>
                <th>Ethnicity</th>
                <th>Date of Birth</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="individual in individuals | filter:searchText">
                <td>{{individual.first_name}} {{individual.last_name}}</td>
                <td>{{individual.gender}}</td>
                <td>{{individual.ethnicity}}</td>
                <td>{{individual.date_of_birth | date:'MM/dd/yyyy'}}</td>
                <td><a ng-href="#/individuals/{{individual._id}}">Show</a></td>
            </tr>
        </table>
    </div>
</div>

