<div class="applicationpage" style="background-image: url('static/images/skybackground.jpg'); background-size: 100% 130%">

    <h3>&nbsp;Welcome back {{user.username}}</h3>
    
            <a href="#/individuals/index"><button>Search</button></a>
            <a href="#/individuals/new"><button>New Individual</button></a>
        

    <div class="content bg-white">
        <h1>Search Individuals</h1>
        <label>Any: <input ng-model="search.$"></label> <br>
        <label>Name: <input ng-model="search.first_name"></label><input ng-model="search.last_name"></label><br>
        <hr>
        <table>
            <tr >
                <th><a href = '' ng-click = "sortType = 'last_name'; sortReverse = !sortReverse">Name</a>
                        <span ng-show = "sortType == 'last_name' && !sortReverse">v</span>
                        <span ng-show = "sortType == 'last_name' && sortReverse">^</span></th>
                <th>Gender</th>
                <th>Ethnicity</th>
                <th><a href = '' ng-click = "sortType = 'date_of_birth'; sortReverse = !sortReverse">Date of Birth</a>
                        <span ng-show = "sortType == 'date_of_birth' && !sortReverse">v</span>
                        <span ng-show = "sortType == 'date_of_birth' && sortReverse">^</span></th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="individual in individuals | filter:search:strict | orderBy:sortType:sortReverse track by $index">
                <td>{{individual.first_name}} {{individual.last_name}}</td>
                <td>{{individual.gender}}</td>
                <td>{{individual.ethnicity}}</td>
                <td>{{individual.date_of_birth | date:'MM/dd/yyyy'}}</td>
                <td><a ng-href="#/individuals/{{individual._id}}">Show</a></td>
            </tr>
        </table>
    </div>
</div>

