<div id="loginpage" style="background-image: url('static/images/4005651-old-wall-background-Stock-Photo-urban.jpg'); background-size: 100% 130%">
    <h3>Welcome back{{user.username}}!</h3>
    <table>
        <tr class="navtabs">
            <td><a href="#/individuals/index">Search</a></td>
            <td><a href="#/individuals/new">New</a></td>
        </tr>
    </table>
    <hr>
    <div class="bg-white">
        <h1>Search Individuals</h1>
        <a href="#/individuals/new"><button>New Individual</button></a>
        <input type="text" name="search" ng-model="searchText" placeholder="Search individual...">
        <hr>
        <table>
            <tr >
                <th>Name</th>
                <th>Gender</th>
                <th>Ethnicity</th>
                <th>Date of Birth</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="individual in individuals | filter:searchText">
                <td>{{individual.first_name}} {{individual.last_name}}</td>
                <td>{{individual.gender}}</td>
                <td>{{individual.ethnicity}}</td>
                <td>{{individual.date_of_birth | date:'MM/dd/yyyy'}}</td>
                <td><a ng-href="#/individuals/{{individual._id}}">Show</a></td>
            </tr>
        </table>
    </div>
</div>

