<div id="loginpage" style="background-image: url('static/images/4005651-old-wall-background-Stock-Photo-urban.jpg'); background-size: 100% 130%">
    <div class="align-vert-center">
        <div class="loginpage-divs bg-white" style="margin-left: 27%; width: 10em;">
            <img src="static/images/halo-logo-large.png" width="105" height="87" style="margin: 1.5em 0.6em;">
        </div>
        <div class="loginpage-divs transparent-80pct bg-white" style="width: 35em;">
            <div style="padding: 1.5em 2em;">
                <form> 
                    <h3>Hi! Please log in.</h3>
                    <input type="text" ng-model="user.username" required>
                    <button ng-click="login()" style="border-radius: 0.3em;">Enter</button>
                </form>
            </div>
        </div>
    <div>
</div>